@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*:root {*/
/*  --textColor: black;*/
/*  --bgColor: white;*/
/*  --bgOpacity: .18;*/
/*  --laptopWidth: 940px;*/
/*  --mobileWidth: 540px;*/
/*}*/

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


input:-webkit-autofill {
  background-color: transparent !important;
}

/*.dark {*/
/*  --bgColor: black;*/
/*  --textColor: white;*/
/*  --bgOpacity: .18;*/
/*}*/

/*.light {*/
/*  --textColor: black;*/
/*  --bgColor: white;*/
/*  --bgOpacity: .35;*/
/*}*/

/*.red {*/
/*  --textColor: red;*/
/*  --bgColor: #9ad79a;*/
/*  --bgOpacity: .35;*/
/*}*/

.wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.2500%;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;

}
