.page {
  background-image: url("images/juliet-bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: 100vh;
  min-height: 300px;
  padding: 0 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.heading {
  color: white;
}

.firstFormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.formWrapper {
  background-color: rgb(255 255 255 / 50%);
  border-radius: 10px;
  width: 85%;
  padding: 0 10px;
  color: white;
}

.firstFormWrapper button {
  width: 38vw;
  display: block;
}

.field {
  background: transparent !important;
  color: white !important;
}

.field:hover {
  border-color: black !important;
}

.details {
  padding-left: 30px;
  margin: 0;
}

.dressCode {
  margin: 0;
}

.link {
  text-decoration: none;
  color: #d4b987;
}

.link:active {
  color: #857351;
}
.link:hover {
  color: #d9bb84;
}

.fullWButton {
  /*color: white !important;*/
  /*border: 1px solid white !important;*/
  width: 100%;
  display: block;
  /*background: #bba377 !important;*/
}

button.fullWButton:disabled {
  /*background: #7b7777 !important;*/
  /*border: none !important;*/
  /*color: #ababab !important;*/
}



.label label {
  /*color: white !important;*/
}
