.website {
  margin: 0;
  position: relative;
  font-family: 'Roboto', serif;
  max-height: 100vh;
  overflow-y: auto;
}

.website > .content {
  max-width: 95%;
}

.website h1 {
  margin: 0;
  font-size: 76px;
}

.website h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 110%;
}

.website h4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  margin: 0;
  line-height: 200%;
}

.website p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.website p.plead {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-image: url('https://res.cloudinary.com/eventcreate/image/upload/v1562462558/themes/theme%20assets/samuel-zeller-34751-unsplash_dr06ho.jpg');
  padding: 240px 0 250px;
  color: #fff;
  outline: 2px solid white;
  outline-offset: -10px;
  position: relative;
  background-size: cover;
  background-color: #000;
  opacity: .92;
}

.bannerContent {
  position: relative;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  margin: 0 auto;
}

.about {
  padding-top: 70px;
  padding-bottom: 84px;
  position: relative;
  background-color: #fff;
  opacity: .92;
}

.aboutContent {
  max-width: 95%;
  padding: 0 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  row-gap: 30px;
}

.aboutContentTitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutContentTitle strong {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 110%;
}

.aboutText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
  margin: 0 auto;
  flex: 3;
}

.aboutDescription {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 30px;
  padding: 0 15px;
  margin: 0 auto;
  flex: 1;
  min-width: 250px;
}

.button {
  display: inline-block;
  font-size: 18px;
  padding: 20px 34px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: .2s all ease;
}

.buttonBlack {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.buttonWhite {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.aboutDetailsContainer {
  display: flex;
  flex-direction: column;
}

.aboutDetailsContainer p {
  margin-bottom: 20px;
}

.callToAction {
  color: #fff;
  padding: 100px 0 120px;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-color: black;
  opacity: .92;
}


.callToAction .container h2 {
  margin-bottom: 16px;
}

.callToAction .container p {
  margin-bottom: 26px;
}

.footer {
  color: #fff;
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #000;
}

@media (max-width: 768px) {
  .banner, .about, .callToAction {
    opacity: .85;
  }
}

@media (max-width: 992px) {
  .aboutContent {
    flex-direction: column;
  }

  .aboutText {
    flex: 1;
  }
}
